<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="todostyle.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/f72aa75778.js" crossorigin="anonymous"></script>       
<title>ToDo List</title>
</head>
<body>
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <h1 class="display-3" style="color: blueviolet;">Your To-Do List</h1>
            </div>
        </div>
        <div class="row formrow" >
            <div class="formcol col-lg-12 col-sm-12 col-md-12 " >
                <form method="POST"  class="formfield d-flex justify-content-center" action="/todo">
                    <input type="text" placeholder="Insert Item" class="insertbox" name="thing">
                    <button type="submit"><i class="fas fa-plus fa-2x"></i></button>
                    
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="itemlist col-lg-12 col-sm-12 col-md-12 d-flex justify-content-center" >
                <ul>
                    
                    <!-- <li class="itembox d-flex justify-content-center my-5">Milk</li>  -->
                    <% for(var i=0;i<todos.length; i++){ %>
                        <li class="itembox d-flex justify-content-center my-5">
                            <a href="/todo/<%= todos[i]._id %>" style="color: antiquewhite;"><%= todos[i].items.thing %></a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>